In [1]:
import os
os.chdir("/Users/tessleggio/GoogleDrive/GeorgiaTech/2018-Fall/01-ISYE-6414/6414Project")
print(os.getcwd())

/Users/tessleggio/GoogleDrive/GeorgiaTech/2018-Fall/01-ISYE-6414/6414Project

In [2]:
import time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandasql as ps
import glob
from dateutil import parser

import warnings
warnings.filterwarnings('ignore')

In [33]:
#--------------------READING AND PRE-PROCESSING DAILY AQS AND WEATHER DATA-------------------
#--------------------------------------------------------------------------------------------

data = pd.read_csv("data/daily_aqi_by_county_2014.csv")

for i in range(2015, 2019):
    data = pd.concat([data, pd.read_csv("data/daily_aqi_by_county_" + str(i) + ".zip")])    

#_______________________________________________________
#Loading in daily Air Pressure data for years 2014 - 2018

data_ap = pd.read_csv("data/daily_PRESS_2014.csv")

for i in range(2015, 2019):
    data_ap = pd.concat([data_ap, pd.read_csv("data/daily_PRESS_" + str(i) + ".zip")])
    
data_ap = data_ap[["State Code", "County Code", "Date Local", "Arithmetic Mean"]]
data_ap.rename(columns={"Arithmetic Mean":"Average Air Pressure"}, inplace=True)

#Taking air pressure averages across sensor locations
data_ap = data_ap.groupby(["State Code", "County Code", "Date Local"])["Average Air Pressure"].mean().reset_index()

#_______________________________________________________
#Loading in daily Temperature data for years 2014 - 2018

data_t = pd.read_csv("data/daily_TEMP_2014.csv")

for i in range(2015, 2019):
    data_t = pd.concat([data_t, pd.read_csv("data/daily_TEMP_" + str(i) + ".zip")])
    
data_t = data_t[["State Name", "County Name","State Code","County Code", "Date Local", "Arithmetic Mean"]]
data_t.rename(columns={"Arithmetic Mean":"Average Temperature"}, inplace=True)

#Taking temperature averages across distinct sensor locations
data_t = data_t.groupby(["State Name", "County Name", "Date Local","State Code","County Code"])["Average Temperature"].mean().reset_index()


#_______________________________________________________________
#Loading in daily humidity/dew point data for years 2014 - 2018

data_h = pd.read_csv("data/daily_RH_DP_2014.csv")

for i in range(2015, 2019):
    data_h = pd.concat([data_h, pd.read_csv("data/daily_RH_DP_" + str(i) + ".zip")])

data_h = data_h[["State Code", "County Code", "Date Local", "Arithmetic Mean"]]
data_h.rename(columns={"Arithmetic Mean":"Average Humidity"}, inplace=True)

#Taking humidity averages across distinct sensor locations
data_h = data_h.groupby(["State Code", "County Code", "Date Local"])["Average Humidity"].mean().reset_index()

    
#_______________________________________________________________
#Loading in daily windspeed point data for years 2014 - 2018
data_w = pd.read_csv("data/daily_WIND_2014.csv")

for i in range(2015, 2019):
    data_w = pd.concat([data_w, pd.read_csv("data/daily_WIND_" + str(i) + ".zip")])
    
data_w = data_w[["State Code", "County Code", "Date Local", "Arithmetic Mean"]]
data_w.rename(columns={"Arithmetic Mean":"Average Windspeed"}, inplace=True)

#Taking Windspeed averages across distinct sensor locations
data_w = data_w.groupby(["State Code", "County Code", "Date Local"])["Average Windspeed"].mean().reset_index()

In [34]:
data.rename({'State Name':'State', 'county Name': 'County'}, axis=1, inplace=True)
data['State'] = data['State'].str.lower()
data['County'] = data['County'].str.lower()
data['Date'] = pd.to_datetime(data['Date'])
data['Year'] = pd.DatetimeIndex(data['Date']).year
data['Month'] = pd.DatetimeIndex(data['Date']).month
data['Day'] = pd.DatetimeIndex(data['Date']).day
data.head()

,State,County,State Code,County Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting,Year,Month,Day
0,alabama,baldwin,1,3,2014-01-02,33,Good,PM2.5,01-003-0010,1,2014,1,2
1,alabama,baldwin,1,3,2014-01-05,29,Good,PM2.5,01-003-0010,1,2014,1,5
2,alabama,baldwin,1,3,2014-01-08,29,Good,PM2.5,01-003-0010,1,2014,1,8
3,alabama,baldwin,1,3,2014-01-11,15,Good,PM2.5,01-003-0010,1,2014,1,11
4,alabama,baldwin,1,3,2014-01-14,22,Good,PM2.5,01-003-0010,1,2014,1,14

In [35]:
data_t.rename({'State Name':'State', 'County Name': 'County'}, axis=1, inplace=True)
data_t['State'] = data_t['State'].str.lower()
data_t['County'] = data_t['County'].str.lower()
data_t['Date Local'] = pd.to_datetime(data_t['Date Local'])
data_t['Year'] = pd.DatetimeIndex(data_t['Date Local']).year
data_t['Month'] = pd.DatetimeIndex(data_t['Date Local']).month
data_t['Day'] = pd.DatetimeIndex(data_t['Date Local']).day
data_t.head()

data_t2 = data_t.groupby(['State', 'County','Year','Month','State Code','County Code'])['Average Temperature'].mean().reset_index()
data_t2.head()
#data_w = data_w.groupby(["State Code", "County Code", "Date Local"])["Average Windspeed"].mean().reset_index()

,State,County,Year,Month,State Code,County Code,Average Temperature
0,alabama,jefferson,2014,1,1,73,37.601300
1,alabama,jefferson,2014,2,1,73,46.520285
2,alabama,jefferson,2014,3,1,73,53.247984
3,alabama,jefferson,2014,4,1,73,63.699870
4,alabama,jefferson,2014,5,1,73,72.347177

In [36]:
data_t2.to_csv("./cleaned_data/temps.csv", index=None, header=True)

In [27]:
query = """ SELECT State, County, MAX(AQI) as max_aqi, MIN(AQI) as min_aqi, AVG(AQI) as avg_aqi, Year, Month
            FROM data
            GROUP BY State, County, Year, Month
"""
data_agg = ps.sqldf(query=query)

In [28]:
data_agg.head()
print(len(data_agg))

49500

In [29]:
data_agg.to_csv("./cleaned_data/aqi.csv", index=None, header=True)

In [30]:
#Checking Number of Counties for each State
query = """SELECT 'State Code', COUNT('County Code') from data_t GROUP BY 'State Code'"""
ps.sqldf(query=query)

  'State Code'  COUNT('County Code')
0   State Code                 19853

In [42]:
data_t['Date Local'] = pd.to_datetime(data_t['Date Local'])
data_ap['Date Local'] = pd.to_datetime(data_ap['Date Local'])
data_h['Date Local'] = pd.to_datetime(data_h['Date Local'])
data_w['Date Local'] = pd.to_datetime(data_w['Date Local'])


#Merging AQI data with daily weather data
data = pd.merge(data, data_t, how="left", left_on=["State Code", "County Code", "Date"], right_on=["State Code", "County Code", "Date Local"])
data = pd.merge(data, data_ap, how="left", left_on=["State Code", "County Code", "Date"], right_on=["State Code", "County Code", "Date Local"])
data = pd.merge(data, data_h, how="left", left_on=["State Code", "County Code", "Date"], right_on=["State Code", "County Code", "Date Local"])
data = pd.merge(data, data_w, how="left", left_on=["State Code", "County Code", "Date"], right_on=["State Code", "County Code", "Date Local"])

#Extracting year and month from date
data["Year"] = pd.DatetimeIndex(data['Date']).year
data["Month"] = pd.DatetimeIndex(data['Date']).month

#Renaming Columns
data.rename(columns = {"State Name":"State", "county Name":"County"}, inplace=True)

display(data.head())

,State_x,County_x,State Code,County Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting,...,Month_y,Day_y,Date Local_x,Average Air Pressure_y,Date Local_y,Average Humidity_y,Date Local,Average Windspeed_y,Year,Month
0,alabama,baldwin,1,3,2014-01-02,33,Good,PM2.5,01-003-0010,1,...,NaN,NaN,NaT,NaN,NaT,NaN,NaT,NaN,2014,1
1,alabama,baldwin,1,3,2014-01-05,29,Good,PM2.5,01-003-0010,1,...,NaN,NaN,NaT,NaN,NaT,NaN,NaT,NaN,2014,1
2,alabama,baldwin,1,3,2014-01-08,29,Good,PM2.5,01-003-0010,1,...,NaN,NaN,NaT,NaN,NaT,NaN,NaT,NaN,2014,1
3,alabama,baldwin,1,3,2014-01-11,15,Good,PM2.5,01-003-0010,1,...,NaN,NaN,NaT,NaN,NaT,NaN,NaT,NaN,2014,1
4,alabama,baldwin,1,3,2014-01-14,22,Good,PM2.5,01-003-0010,1,...,NaN,NaN,NaT,NaN,NaT,NaN,NaT,NaN,2014,1

In [ ]:
#Removing trailing blanks from county and state variables
#data["State"] = data["State"].apply(str.strip)
#data["County"] = data["County"].apply(str.strip)

In [ ]:
def get_weather(state_abbrev, county, year, month, day):
    date1 = str(year) + str(month).zfill(2) + str(day).zfill(2)
    date2 = str(year) + str(month).zfill(2) + str(day).zfill(2)
    url = "http://api.mesowest.net/v2/stations/statistics?state=" + state_abbrev + "&county=" + county + "&start=" + date1 + "0000&end=" + date2 + "0000&vars=air_temp&obtimezone=local&token=demotoken&type=average"
    response = requests.get(url)
    return json.loads(response.content.decode("latin1"))

In [ ]:
get_weather("NC", "wake", 2013, 1, 1)