In [5]:
import os
os.chdir("/Users/tessleggio/GoogleDrive/GeorgiaTech/2018-Fall/01-ISYE-6414/6414Project/cleaned_data")
print(os.getcwd())

/Users/tessleggio/GoogleDrive/GeorgiaTech/2018-Fall/01-ISYE-6414/6414Project/cleaned_data

In [7]:
import numpy as np
import pandas as pd
import pandasql as ps

In [9]:
aqi = pd.read_csv("aqi_2016.csv")
ghg = pd.read_csv("ghg_2016.csv")
income = pd.read_csv("income_2016.csv")
pop = pd.read_csv("population_2016.csv")
plant = pd.read_csv("powerplant_2016.csv")
weather = pd.read_csv("EPA_weather_2016.csv")

In [11]:
aqi['State'] = aqi['State'].str.strip()
aqi['County'] = aqi['County'].str.strip()

ghg['State'] = ghg['State'].str.strip()
ghg['County'] = ghg['County'].str.strip()

income['State'] = income['State'].str.strip()
income['County'] = income['County'].str.strip()

pop['State'] = pop['State'].str.strip()
pop['County'] = pop['County'].str.strip()

plant['State'] = plant['State'].str.strip()
plant['County'] = plant['County'].str.strip()

weather['State'] = weather['State'].str.strip()
weather['County'] = weather['County'].str.strip()

In [13]:
query = '''SELECT DISTINCT State, County FROM aqi'''
aqi_counties = ps.sqldf(query=query)
print('aqi',len(aqi_counties))

query = '''SELECT DISTINCT State, County FROM ghg'''
ghg_counties = ps.sqldf(query=query)
print('ghg',len(ghg_counties))

query = '''SELECT DISTINCT State, County FROM income'''
income_counties = ps.sqldf(query=query)
print('income',len(income_counties))

query = '''SELECT DISTINCT State, County FROM pop'''
pop_counties = ps.sqldf(query=query)
print('pop',len(pop_counties))

query = '''SELECT DISTINCT State, County FROM plant'''
plant_counties = ps.sqldf(query=query)
print('plant',len(plant_counties))

query = '''SELECT DISTINCT State, County FROM weather'''
weather_counties = ps.sqldf(query=query)
print('weather',len(weather_counties))

aqi 1053
ghg 2130
income 3137
pop 3142
plant 1978
weather 425

In [15]:
aqi_cty = aqi[['State', 'County']].drop_duplicates()
aqi_cty['aqi'] = 1

ghg_cty = ghg[['State', 'County']].drop_duplicates()
ghg_cty['ghg'] = 1

income_cty = income[['State', 'County']].drop_duplicates()
income_cty['income'] = 1

pop_cty = pop[['State', 'County']].drop_duplicates()
pop_cty['pop'] = 1

plant_cty = plant[['State', 'County']].drop_duplicates()
plant_cty['plant'] = 1

weather_cty = weather[['State', 'County']].drop_duplicates()
weather_cty['weather'] = 1

In [25]:
check = pd.merge(aqi_cty, ghg_cty, on=['State', 'County'], how='outer')
check = pd.merge(check, income_cty, on=['State', 'County'], how='outer')
check = pd.merge(check, pop_cty, on=['State', 'County'], how='outer')
check = pd.merge(check, plant_cty, on=['State', 'County'], how='outer')
check = pd.merge(check, weather_cty, on=['State', 'County'], how='outer')
check = check.sort_values(by=['State', 'County'], ascending=True)

display(check.head(10))

check.to_csv("data_merged_checkcounties.csv")

        State    County  aqi  ghg  income  pop  plant  weather
1081  alabama   autauga  NaN  1.0     1.0  1.0    1.0      NaN
0     alabama   baldwin  1.0  1.0     1.0  1.0    NaN      NaN
1082  alabama   barbour  NaN  1.0     1.0  1.0    NaN      NaN
2348  alabama      bibb  NaN  NaN     1.0  1.0    NaN      NaN
2155  alabama    blount  NaN  1.0     1.0  1.0    NaN      NaN
2349  alabama   bullock  NaN  NaN     1.0  1.0    NaN      NaN
2350  alabama    butler  NaN  NaN     1.0  1.0    NaN      NaN
1083  alabama   calhoun  NaN  1.0     1.0  1.0    1.0      NaN
1084  alabama  chambers  NaN  1.0     1.0  1.0    1.0      NaN
2231  alabama  cherokee  NaN  1.0     1.0  1.0    1.0      NaN

In [17]:
weather.columns

Index(['State', 'County', 'Date Local', 'State Code', 'County Code',
       'Average Temperature', 'Year', 'Month', 'Day', 'Average Air Pressure',
       'Average Humidity', 'Average Windspeed'],
      dtype='object')

In [18]:
data0 = aqi
print('aqi has',len(data0), 'lines of data')
print('aqi has',len(data0)-len(data0.dropna()), 'missing lines of data\n')

data1 = pd.merge(data0, ghg, how="left", on = ["Year", "State", "County"])
print('aqi+ghg has',len(data1), 'lines of data')
print('aqi+ghg has',len(data1)-len(data1.dropna()), 'missing lines of data\n')

data2 = pd.merge(data1, income, how="left", on = ["Year", "State", "County"])
print('aqi+ghg+income has',len(data2), 'lines of data')
print('aqi+ghg+income has',len(data2)-len(data2.dropna()), 'missing lines of data\n')

data3 = pd.merge(data2, pop, how="left", on = ["Year", "State", "County"])
print('aqi+ghg+income+pop has',len(data3), 'lines of data')
print('aqi+ghg+income+pop has',len(data3)-len(data3.dropna()), 'missing lines of data\n')

data4 = pd.merge(data3, plant, how="left", on = ["Year", "State", "County", "Month"])
print('aqi+ghg+income+pop+plant has',len(data4), 'lines of data')
print('aqi+ghg+income+pop+plant has',len(data4)-len(data4.dropna()), 'missing lines of data\n')

data5 = pd.merge(data4, weather, how="left", on=["Year", "State", "County", "Month", "Day"])
print('aqi+ghg+income+pop+plant+weather has',len(data5), 'lines of data')
print('aqi+ghg+income+pop+plant+weather has',len(data5)-len(data5.dropna()), 'missing lines of data\n')

aqi has 330533 lines of data
aqi has 0 missing lines of data

aqi+ghg has 330533 lines of data
aqi+ghg has 67228 missing lines of data

aqi+ghg+income has 330533 lines of data
aqi+ghg+income has 76368 missing lines of data

aqi+ghg+income+pop has 330533 lines of data
aqi+ghg+income+pop has 76368 missing lines of data

aqi+ghg+income+pop+plant has 330533 lines of data
aqi+ghg+income+pop+plant has 102888 missing lines of data

aqi+ghg+income+pop+plant+weather has 330533 lines of data
aqi+ghg+income+pop+plant+weather has 296829 missing lines of data

In [20]:
data6 = data5.drop({'State Code_x', 'County Code_x', 'Date', 'Defining Site', 
                    'Number of Sites Reporting', 'Date Local', 'State Code_y', 'County Code_y',
                   'StateNum', 'CountyNum', 'Division'}, axis=1)
data6.columns

Index(['State', 'County', 'AQI', 'Category', 'Defining Parameter', 'Year',
       'Month', 'Day', 'Total Emissions', 'CO2', 'Methane', 'Nitrous Oxide',
       'HFC', 'PFC', 'SF6', 'NF3', 'Other Fluorane', 'HFE',
       'Short Lived Compounds', 'Other GHG', 'Biogenic CO2',
       'Stationary Combustion', 'Income', 'Region', 'Population',
       'pp_consumed_MMBtu', 'pp_net_gen_MWh', 'Average Temperature',
       'Average Air Pressure', 'Average Humidity', 'Average Windspeed'],
      dtype='object')

In [22]:
data6.columns

Index(['State', 'County', 'AQI', 'Category', 'Defining Parameter', 'Year',
       'Month', 'Day', 'Total Emissions', 'CO2', 'Methane', 'Nitrous Oxide',
       'HFC', 'PFC', 'SF6', 'NF3', 'Other Fluorane', 'HFE',
       'Short Lived Compounds', 'Other GHG', 'Biogenic CO2',
       'Stationary Combustion', 'Income', 'Region', 'Population',
       'pp_consumed_MMBtu', 'pp_net_gen_MWh', 'Average Temperature',
       'Average Air Pressure', 'Average Humidity', 'Average Windspeed'],
      dtype='object')

In [23]:
data6.to_csv("data_merged.csv")

In [ ]:
def missing_density(data, var):
    return (data[var].isnull()).sum()/data.shape[0]

In [ ]:
missing_density(data5, "Population")

In [ ]:
aqi.columns

In [ ]:
pop.columns

In [ ]:
aqi_pop = pd.merge(aqi, pop, on=['State', 'County', 'Year'], how='left')
#aqi_pop = pd.merge(aqi, pop, on=['State', 'County', 'Year'], how='outer')
print(len(aqi))
print(len(pop))
print(len(aqi_pop))

In [ ]:
query = '''SELECT State, County FROM aqi_pop WHERE Population IS NULL GROUP BY State, County'''
check = ps.sqldf(query=query)
check