In [1]:
import os
os.chdir("/Users/tessleggio/GoogleDrive/GeorgiaTech/2018-Fall/01-ISYE-6414/6414Project")
print(os.getcwd())

/Users/tessleggio/GoogleDrive/GeorgiaTech/2018-Fall/01-ISYE-6414/6414Project

In [2]:
import time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandasql as ps
import glob
from dateutil import parser

import warnings
warnings.filterwarnings('ignore')

In [5]:
states = pd.read_csv("data/States.csv")

In [7]:
def cap(string):
    if isinstance(string, str):
        return string.upper().replace(" COUNTY", "").capitalize().strip()
    else:
        return ""

In [8]:
#--------------------READING AND PRE-PROCESSING GREENHOUSE GAS INCOME DATA--------------------
#---------------------------------------------------------------------------------------------

def get_emissions(filename, year):
    
    #Loading data, keeping only relevant columns, and adding year as a constant variable
    xls = pd.ExcelFile(filename)
    data_test = xls.parse("Direct Emitters", skiprows=3, index_col=None, na_values=[np.nan])
    data_test = data_test.loc[:, "City":"Stationary Combustion"]
    data_test["Year"] = year
    return data_test


def get_all_emissions():
    files = glob.glob("data/ghgp_*")
    
    #Combining data from all different years
    for i in range(len(files)):
        year = int(files[i].split("_")[2])
        #print(year)
        print(files[i])
        
        if i == 0:
            data4 = get_emissions(files[i], year)
        else:
            upd = get_emissions(files[i], year)
            data4 = pd.concat([data4, upd])
    
    return data4

#Getting emissions data
data4 = get_all_emissions()

#Get full state name from abbreviation
data4 = pd.merge(data4, states, how="left", left_on=["State"], right_on=["Abbreviation"]).drop(["State_x", "Abbreviation"], axis=1)

#Dropping variables
data4 = data4.iloc[:, [23, 24, 3] + list(range(9, 23))]

#Renaming variables
data4.columns = ["Year", "State", "County", "Total Emissions", "CO2", "Methane",
                 "Nitrous Oxide", "HFC", "PFC", "SF6", "NF3", "Other Fluorane", 
                 "HFE", "Short Lived Compounds", "Other GHG", "Biogenic CO2", "Stationary Combustion"]

#Removing trailing blanks from county and state variables
data4["County"] = data4["County"].apply(cap)
data4["State"] = data4["State"].apply(cap)

#Grouping data into key variables and obtaining emission totals
data4 = data4.groupby(["Year", "State", "County"]).agg({"Total Emissions":[np.nansum],
                                               "CO2":[np.nansum],
                                              "Methane":[np.nansum],
                                               "Nitrous Oxide":[np.nansum],
                                               "HFC":[np.nansum],
                                               "PFC":[np.nansum],
                                               "SF6":[np.nansum],
                                               "NF3":[np.nansum],
                                               "Other Fluorane":[np.nansum],
                                               "HFE":[np.nansum],
                                               "Short Lived Compounds":[np.nansum],
                                               "Other GHG":[np.nansum],
                                               "Biogenic CO2":[np.nansum],
                                               "Stationary Combustion":[np.nansum]}).reset_index()

#Renaming after grouping
data4.columns = data4.columns.droplevel(1)

data/ghgp_data_2014_8_19_2018.xlsx
data/ghgp_data_2013_8_19_2018.xlsx
data/ghgp_data_2012_8_19_2018.xlsx
data/ghgp_data_2015_8_19_2018.xlsx
data/ghgp_data_2010_8_19_2018.xlsx
data/ghgp_data_2011_8_19_2018.xlsx
data/ghgp_data_2016_8_19_2018.xlsx

In [9]:
data4

,Year,State,County,Total Emissions,CO2,Methane,Nitrous Oxide,HFC,PFC,SF6,NF3,Other Fluorane,HFE,Short Lived Compounds,Other GHG,Biogenic CO2,Stationary Combustion
0,2010,,Arecibo,3.021681e+05,148171.2,153638.75000,358.196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,148679.646
1,2010,,Barceloneta,1.173145e+05,116917.8,117.50000,279.226,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117314.526
2,2010,,Carolina,2.438725e+04,24301.8,25.25000,60.196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24387.246
3,2010,,Carolina municipio,6.757335e+04,0.6,67572.75000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.600
4,2010,,Ceiba,1.340728e+03,1336.2,1.25000,3.278,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1340.728
5,2010,,Fajardo,3.058360e+04,6.6,30577.00000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.600
6,2010,,Guam,1.270954e+06,1266667.0,1272.00000,3014.568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1270953.568
7,2010,,Guayama,3.291173e+06,3264320.3,9826.00000,17027.124,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3291173.424
8,2010,,Guayanilla,3.199043e+06,3188445.7,3131.50000,7465.794,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3199042.994
9,2010,,Guaynabo,6.413260e+04,150.1,63982.50000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150.350
10,2010,,Humacao,1.019004e+05,852.1,101046.24280,2.086,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,855.186
11,2010,,Juncos,2.738141e+04,27287.0,28.25000,66.156,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27381.406
12,2010,,Mayaguez,2.392656e+05,98015.0,141013.72010,236.910,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,98351.410
13,2010,,Penuelas,1.502064e+06,1499466.4,706.50000,1890.810,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1502063.710
14,2010,,Ponce,3.612016e+05,359948.5,458.00000,795.064,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,153874.464
15,2010,,Ponce municipio,1.368200e+05,0.0,136820.00000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
16,2010,,Saint croix,5.250184e+06,5216812.9,19637.25000,13734.224,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4185605.514
17,2010,,Salinas,3.695049e+06,3682838.1,3608.50000,8602.366,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3695048.966
18,2010,,Salinas municipio,6.006059e+04,0.0,60060.59435,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
19,2010,,San juan,2.551764e+06,2438528.4,108073.50000,5162.254,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2306479.654
20,2010,,St. croix island,3.753637e+05,374077.0,380.50000,906.218,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,375363.718
21,2010,,St. thomas island,7.015297e+05,699143.0,706.00000,1680.720,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,701529.720
22,2010,,Toa alta municipio,7.068500e+04,99.0,70586.00000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99.000
23,2010,,Toa baja,2.867427e+06,2858041.8,2773.50000,6611.428,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2867426.728
24,2010,,Toa baja municipio,1.874731e+05,13.6,187459.50000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.600
25,2010,,Vega baja,8.036860e+02,800.6,1.00000,2.086,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,803.686
26,2010,,Yauco municipio,1.756200e+04,0.0,17562.00000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
27,2010,Alabama,,9.880245e+04,98694.8,47.75000,59.898,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,98802.448
28,2010,Alabama,Autauga,2.982137e+06,2941944.5,14375.50000,25816.634,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1683572.3,231246.010
29,2010,Alabama,Baldwin,1.242642e+05,0.0,124264.25000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13903,2016,Wisconsin,Sheboygan,3.859547e+06,3833675.4,12358.25000,13513.108,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,104.1,98340.698
13904,2016,Wisconsin,Vernon,9.661734e+05,958606.3,2767.50000,4799.588,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,815.936
13905,2016,Wisconsin,Walworth,8.969839e+04,34827.2,54809.50000,61.686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34927.886
13906,2016,Wisconsin,Washburn,1.120630e+04,20.8,11185.50000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.800
13907,2016,Wisconsin,Washington,1.511396e+04,15082.9,10.50000,20.562,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
13908,2016,Wisconsin,Waukesha,1.342699e+05,11401.6,122556.00000,312.304,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,83442.9,11848.904
13909,2016,Wisconsin,Waupaca,2.930739e+05,291338.1,638.00000,1097.832,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,293073.932
13910,2016,Wisconsin,Winnebago,5.353332e+05,471334.8,63538.25000,460.112,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8766.6,307242.174
13911,2016,Wisconsin,Wood,1.074280e+06,887786.2,179155.00000,7338.548,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1446842.6,825314.438
13912,2016,Wyoming,,5.095318e+04,45416.1,5511.75000,25.330,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,44606.532
13913,2016,Wyoming,Albany,6.093049e+05,600268.1,7669.00000,1367.820,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.1,44280.440
13914,2016,Wyoming,Big horn,1.054281e+05,105092.3,129.00000,206.812,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,101344.312
13915,2016,Wyoming,Campbell,8.903578e+06,8809032.8,51693.50000,42851.506,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,422.2,146383.418
13916,2016,Wyoming,Carbon,1.703176e+06,1680390.7,20524.25000,2260.926,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,906761.684
13917,2016,Wyoming,Contra costa,1.294401e+05,128013.6,1381.75000,44.700,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70509.784
13918,2016,Wyoming,Converse,6.150122e+06,6094515.5,27742.50000,27864.192,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,193755.220
13919,2016,Wyoming,Fremont,8.707596e+05,866312.6,4355.50000,91.486,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,160341.812
13920,2016,Wyoming,Goshen,6.116190e+04,51776.8,9333.25000,51.852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,43592.302
13921,2016,Wyoming,Johnson,2.167077e+05,216484.1,102.00000,121.584,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,216707.684
13922,2016,Wyoming,Laramie,1.396785e+06,1261527.1,74222.50000,61035.168,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,652142.102
13923,2016,Wyoming,Lincoln,8.233823e+06,8168298.0,38677.75000,26847.118,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016541.268
13924,2016,Wyoming,Natrona,2.778313e+05,203259.1,73863.25000,708.942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,131603.822
13925,2016,Wyoming,Park,2.488412e+05,248326.5,196.75000,317.966,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,134885.266
13926,2016,Wyoming,Platte,1.153487e+07,11444554.2,33033.50000,57284.540,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
13927,2016,Wyoming,Sheridan,0.000000e+00,0.0,0.00000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
13928,2016,Wyoming,Sublette,3.977000e+02,347.2,50.50000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.700
13929,2016,Wyoming,Sweetwater,1.688514e+07,16726633.9,88823.75000,69678.956,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3992501.796
13930,2016,Wyoming,Uinta,2.440409e+05,187237.9,56599.75000,203.236,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,180349.976
13931,2016,Wyoming,Washakie,2.620334e+04,26164.1,16.00000,23.244,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21357.344
13932,2016,Wyoming,Weston,1.865241e+05,184747.2,1294.75000,482.164,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,128674.910

In [10]:
#Checking Number of records for each combination of key variables
query="""SELECT DISTINCT Count FROM (SELECT Year, State, County, COUNT(*) AS Count FROM data4 GROUP BY Year, State, County)"""
ps.sqldf(query=query)

   Count
0      1

In [11]:
#Checking Number of Counties for each State
query = """SELECT State, COUNT(County) from data4 GROUP BY County"""
ps.sqldf(query=query)

               State  COUNT(County)
0            Alabama            108
1          Louisiana              7
2          Louisiana              7
3           Virginia              7
4              Idaho              7
5           Colorado             63
6            Vermont              7
7     South carolina              7
8            Florida              7
9     North carolina              7
10        California              7
11          New york             14
12          Virginia              4
13          Michigan              7
14       Mississippi              7
15            Alaska              7
16            Alaska              2
17            Alaska              6
18          Illinois              7
19          Virginia              3
20          Virginia              7
21          Oklahoma              5
22          Michigan              7
23              Iowa              7
24          Michigan              7
25          Maryland             14
26          Virginia              7
27      Pennsylvania              7
28           Indiana             23
29         Louisiana              7
...              ...            ...
1369            Ohio             28
1370            Iowa              7
1371        Kentucky              4
1372        Arkansas              7
1373        Oklahoma              7
1374        Oklahoma              7
1375        Maryland             14
1376            Iowa              7
1377            Iowa             21
1378            Ohio              7
1379          Kansas              7
1380        New york             21
1381        Virginia              6
1382      Washington              7
1383     Mississippi              7
1384          Oregon              7
1385            Sout              5
1386        New york              7
1387                              7
1388         Arizona              7
1389     Mississippi              7
1390        Arkansas              7
1391         Montana              7
1392           Texas              7
1393      California              7
1394           Maine             30
1395           Texas              7
1396      California              7
1397          Alaska              3
1398         Arizona             14

[1399 rows x 2 columns]

In [12]:
#Checking that variable values are not repeating
query="""SELECT * FROM data4 WHERE State='Louisiana' AND County = 'Ascension'"""
ps.sqldf(query=query)

,Year,State,County,Total Emissions,CO2,Methane,Nitrous Oxide,HFC,PFC,SF6,NF3,Other Fluorane,HFE,Short Lived Compounds,Other GHG,Biogenic CO2,Stationary Combustion
0,2010,Louisiana,Ascension,9963890.008,7512631.8,1498.25,2449759.958,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3330578.956
1,2011,Louisiana,Ascension,9932573.316,7584968.3,1513.00,2346092.016,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3388865.584
2,2012,Louisiana,Ascension,641313.822,641134.3,115.75,63.772,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,97471.932
3,2013,Louisiana,Ascension,632636.174,632531.4,48.75,56.024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,88435.080
4,2014,Louisiana,Ascension,680510.048,680312.7,130.00,67.348,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,101253.456
5,2015,Louisiana,Ascension,561838.016,561746.0,42.25,49.766,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,88823.616
6,2016,Louisiana,Ascension,630600.554,630501.5,47.50,51.554,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,90208.860

In [13]:
#Obtaining map from State Code/County Code to County Name:
xls = pd.ExcelFile("data/all-geocodes-v2016.xlsx")
data_geo = xls.parse("Sheet1", skiprows=4, index_col=None, na_values=[np.nan])

statecd = data_geo[(data_geo["County Code (FIPS)"] == 0)*(data_geo["Place Code (FIPS)"] == 0)*(data_geo["Consolidtated City Code (FIPS)"] == 0)].reset_index(drop=True)

statecd = statecd[["State Code (FIPS)", "Area Name (including legal/statistical area description)"]]

countycd = data_geo[data_geo["County Code (FIPS)"] != 0][["State Code (FIPS)", "County Code (FIPS)", "Area Name (including legal/statistical area description)"]]

data_geo = pd.merge(countycd, statecd, how="inner", on="State Code (FIPS)")

In [14]:
data_geo

,State Code (FIPS),County Code (FIPS),Area Name (including legal/statistical area description)_x,Area Name (including legal/statistical area description)_y
0,1,1,Autauga County,Alabama
1,1,3,Baldwin County,Alabama
2,1,5,Barbour County,Alabama
3,1,7,Bibb County,Alabama
4,1,9,Blount County,Alabama
5,1,11,Bullock County,Alabama
6,1,13,Butler County,Alabama
7,1,15,Calhoun County,Alabama
8,1,17,Chambers County,Alabama
9,1,19,Cherokee County,Alabama
10,1,21,Chilton County,Alabama
11,1,23,Choctaw County,Alabama
12,1,25,Clarke County,Alabama
13,1,27,Clay County,Alabama
14,1,29,Cleburne County,Alabama
15,1,31,Coffee County,Alabama
16,1,33,Colbert County,Alabama
17,1,35,Conecuh County,Alabama
18,1,37,Coosa County,Alabama
19,1,39,Covington County,Alabama
20,1,41,Crenshaw County,Alabama
21,1,43,Cullman County,Alabama
22,1,45,Dale County,Alabama
23,1,47,Dallas County,Alabama
24,1,49,DeKalb County,Alabama
25,1,51,Elmore County,Alabama
26,1,53,Escambia County,Alabama
27,1,55,Etowah County,Alabama
28,1,57,Fayette County,Alabama
29,1,59,Franklin County,Alabama
...,...,...,...,...
24333,72,95,Maunabo Municipio,Puerto Rico
24334,72,97,Mayagüez Municipio,Puerto Rico
24335,72,99,Moca Municipio,Puerto Rico
24336,72,101,Morovis Municipio,Puerto Rico
24337,72,103,Naguabo Municipio,Puerto Rico
24338,72,105,Naranjito Municipio,Puerto Rico
24339,72,107,Orocovis Municipio,Puerto Rico
24340,72,109,Patillas Municipio,Puerto Rico
24341,72,111,Peñuelas Municipio,Puerto Rico
24342,72,113,Ponce Municipio,Puerto Rico
24343,72,115,Quebradillas Municipio,Puerto Rico
24344,72,117,Rincón Municipio,Puerto Rico
24345,72,119,Río Grande Municipio,Puerto Rico
24346,72,121,Sabana Grande Municipio,Puerto Rico
24347,72,123,Salinas Municipio,Puerto Rico
24348,72,125,San Germán Municipio,Puerto Rico
24349,72,127,San Juan Municipio,Puerto Rico
24350,72,129,San Lorenzo Municipio,Puerto Rico
24351,72,131,San Sebastián Municipio,Puerto Rico
24352,72,133,Santa Isabel Municipio,Puerto Rico
24353,72,135,Toa Alta Municipio,Puerto Rico
24354,72,137,Toa Baja Municipio,Puerto Rico
24355,72,139,Trujillo Alto Municipio,Puerto Rico
24356,72,141,Utuado Municipio,Puerto Rico
24357,72,143,Vega Alta Municipio,Puerto Rico
24358,72,145,Vega Baja Municipio,Puerto Rico
24359,72,147,Vieques Municipio,Puerto Rico
24360,72,149,Villalba Municipio,Puerto Rico
24361,72,151,Yabucoa Municipio,Puerto Rico
24362,72,153,Yauco Municipio,Puerto Rico