In [43]:
#cd /home/user1/Scripts/Python27/repos/aqs/

import os
os.chdir("/Users/tessleggio/GoogleDrive/GeorgiaTech/2018-Fall/01-ISYE-6414/6414Project")
print(os.getcwd())

/Users/tessleggio/GoogleDrive/GeorgiaTech/2018-Fall/01-ISYE-6414/6414Project

In [2]:
import time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandasql as ps
import glob
from dateutil import parser

import warnings
warnings.filterwarnings('ignore')

In [3]:
googlemaps_api_key = "AIzaSyAUax4y4YVGTXTWGCtSMgnSDSO0yY8kAzw"

In [4]:
states = pd.read_csv("data/States.csv")

In [5]:
def cap(string):
    if isinstance(string, str):
        return string.upper().replace(" COUNTY", "").capitalize().strip()
    else:
        return ""

In [6]:
def df_replace(df, col, orig, repl):
    """Function to remove all instances of a string orig from the column col in dataframe df"""
        
    count = 0
    for word in df[col]:
        df[col][count] = word.replace(orig, repl)
        count += 1
        
    return df

In [7]:
import requests
import json

def get_county(lat,  lon):
    """Obtaining county corresponding to a latitude and longitude"""
    
    #Obtaining geo.fcc url 
    url = get_url(lat, lon)
    print(url)
    
    #Requesting data from geo.fcc
    response = requests.get(url)
    content = json.loads(response.content.decode("latin1"))
    
    if content["results"]:
        #Getting county
        county = content["results"][0]["county_name"]
        state = content["results"][0]["state_name"]
    
        return county, state
    else:
        return "", ""
    
def get_url(lat, lon):
    request_url = "https://geo.fcc.gov/api/census/area?lat=" + str(lat) + "&lon=" + str(lon) + "&format=json"
    return request_url

In [8]:
def get_maps_json(name):
    response = requests.get("https://maps.googleapis.com/maps/api/geocode/json?address=" + name.replace(" ", "+") + "&key=" + googlemaps_api_key)
    return json.loads(response.content.decode("latin1"))

def get_loc_from_name(name):
    
    #Getting json from google maps API:
    response = get_maps_json(name)
    
    #Getting geographic component from response
    if response["results"]:
        location = response["results"][0]["geometry"]["location"]
        return location["lat"], location["lng"]
    else:
        #If response is empty, return null values
        return np.nan, np.nan

# Pull Data

In [9]:
#cd /home/user1/Scripts/Python27/repos/aqs/data

In [10]:
'''
#--------------------GETTING DATA--------------------
#----------------------------------------------------

#Getting Per Capita Income Data by County (2014 - 2016)
!wget https://www.bea.gov/system/files/2017-12/lapi1117.xlsx
    
#Getting Population Data by County
!wget https://www2.census.gov/programs-surveys/popest/datasets/2010-2017/counties/totals/co-est2017-alldata.csv

#Getting Power Plant data:
!for y in `seq 2012 2016`; do wget https://www.eia.gov/electricity/data/eia923/archive/xls/f923_${y}.zip; unzip f923_${y}.zip; rm f923_${y}.zip; done 
!wget https://www.eia.gov/electricity/data/eia923/xls/f923_2017.zip; unzip f923_2017.zip; rm f923_2017.zip
!wget https://www.eia.gov/electricity/data/eia923/xls/f923_2018.zip; unzip f923_2018.zip; rm f923_2018.zip

#Getting Daily AQI data for years 2014 - 2018:
! for i in `seq 2014 2018`; do wget https://aqs.epa.gov/aqsweb/airdata/daily_aqi_by_county_${i}.zip; unzip daily_aqi_by_county_${i}.zip; done 

#Getting Daily Temperature Data:
! for i in `seq 2014 2018`; do wget https://aqs.epa.gov/aqsweb/airdata/daily_TEMP_${i}.zip; unzip daily_TEMP_${i}.zip; done 
    
#Getting Daily Wind Data:
! for i in `seq 2014 2018`; do wget https://aqs.epa.gov/aqsweb/airdata/daily_WIND_${i}.zip; unzip daily_WIND_${i}.zip; done 
    
#Getting Daily Pressure Data:
! for i in `seq 2014 2018`; do wget https://aqs.epa.gov/aqsweb/airdata/daily_PRESS_${i}.zip; unzip daily_PRESS_${i}.zip; done 

#Getting Daily RH DH Data:
! for i in `seq 2014 2018`; do wget https://aqs.epa.gov/aqsweb/airdata/daily_RH_DP_${i}.zip; unzip daily_RH_DP_${i}.zip; done 

#Getting comprehensive 2016 FIPS geocoding data:
!wget https://www2.census.gov/programs-surveys/popest/geographies/2016/all-geocodes-v2016.xlsx

#Getting powerplant location data
!wget https://www.eia.gov/electricity/data/eia860m/xls/august_generator2018.xlsx

#Getting greeh-house gas emissions data
! for y in `seq 2010 2016`; do wget https://www.epa.gov/sites/production/files/2018-10/ghgp_data_${y}_8_19_2018.xlsx; done 
'''

'\n#--------------------GETTING DATA--------------------\n#----------------------------------------------------\n\n#Getting Per Capita Income Data by County (2014 - 2016)\n!wget https://www.bea.gov/system/files/2017-12/lapi1117.xlsx\n    \n#Getting Population Data by County\n!wget https://www2.census.gov/programs-surveys/popest/datasets/2010-2017/counties/totals/co-est2017-alldata.csv\n\n#Getting Power Plant data:\n!for y in `seq 2012 2016`; do wget https://www.eia.gov/electricity/data/eia923/archive/xls/f923_${y}.zip; unzip f923_${y}.zip; rm f923_${y}.zip; done \n!wget https://www.eia.gov/electricity/data/eia923/xls/f923_2017.zip; unzip f923_2017.zip; rm f923_2017.zip\n!wget https://www.eia.gov/electricity/data/eia923/xls/f923_2018.zip; unzip f923_2018.zip; rm f923_2018.zip\n\n#Getting Daily AQI data for years 2014 - 2018:\n! for i in `seq 2014 2018`; do wget https://aqs.epa.gov/aqsweb/airdata/daily_aqi_by_county_${i}.zip; unzip daily_aqi_by_county_${i}.zip; done \n\n#Getting Daily Temperature Data:\n! for i in `seq 2014 2018`; do wget https://aqs.epa.gov/aqsweb/airdata/daily_TEMP_${i}.zip; unzip daily_TEMP_${i}.zip; done \n    \n#Getting Daily Wind Data:\n! for i in `seq 2014 2018`; do wget https://aqs.epa.gov/aqsweb/airdata/daily_WIND_${i}.zip; unzip daily_WIND_${i}.zip; done \n    \n#Getting Daily Pressure Data:\n! for i in `seq 2014 2018`; do wget https://aqs.epa.gov/aqsweb/airdata/daily_PRESS_${i}.zip; unzip daily_PRESS_${i}.zip; done \n\n#Getting Daily RH DH Data:\n! for i in `seq 2014 2018`; do wget https://aqs.epa.gov/aqsweb/airdata/daily_RH_DP_${i}.zip; unzip daily_RH_DP_${i}.zip; done \n\n#Getting comprehensive 2016 FIPS geocoding data:\n!wget https://www2.census.gov/programs-surveys/popest/geographies/2016/all-geocodes-v2016.xlsx\n\n#Getting powerplant location data\n!wget https://www.eia.gov/electricity/data/eia860m/xls/august_generator2018.xlsx\n\n#Getting greeh-house gas emissions data\n! for y in `seq 2010 2016`; do wget https://www.epa.gov/sites/production/files/2018-10/ghgp_data_${y}_8_19_2018.xlsx; done \n'

In [143]:
NumCensusAreas = pd.read_csv("StatesNumCensusAreas.csv", header=0)
NumCensusAreas.head()

        State  NumCensusAreas
0     alabama              67
1      alaska              29
2     arizona              15
3    arkansas              75
4  california              58

# Per Capita Income Data

In [369]:
#--------------------READING AND PRE-PROCESSING PER CAPITA INCOME DATA--------------------
#-----------------------------------------------------------------------------------------

#Read in per capita income
xls = pd.ExcelFile("data/download.xls")
data_test = xls.parse("Sheet0", skiprows=5, index_col=None, na_values=[np.nan], skip_footer=12)

#display(data_test[2200:2400])
#display(data_test[:3138].tail()) #anything beyond row 3137 are footnotes

#Extract state and county from GeoName
data_test["Abbreviation"] = data_test["GeoName"][:3138].apply(lambda x: x.split(",")[1].replace(" ", ""))
data_test["County"] = data_test["GeoName"][:3138].apply(lambda x: x.split(",")[0])

#Get full state name from abbreviation
data_test = pd.merge(data_test, states, how="left", on=["Abbreviation"]).drop(["GeoName", "Abbreviation"], axis=1)

#Transposing against year
for i in range(7):
    income = data_test.iloc[:, [9, 8] + [i + 1]]
    income["Year"] = 2010 + i
    income.columns = ["State", "County", "Income", "Year"]
    
    if i == 0:
        data3 = income
    else:
        data3 = pd.concat([data3, income])  

#Removing trailing blanks from county and state variables and make lower case
data3["State"] = data3["State"].apply(cap).str.lower()
data3["County"] = data3["County"].apply(cap).str.lower()

In [370]:
income = data3
income.head()

     State   County Income  Year
0  alabama  autauga  33402  2010
1  alabama  baldwin  36089  2010
2  alabama  barbour  27916  2010
3  alabama     bibb  25003  2010
4  alabama   blount  27599  2010

In [368]:
#Checking Number of States
query = """SELECT DISTINCT State FROM income ORDER BY State ASC"""
ps.sqldf(query=query)

             State
0
1          Alabama
2           Alaska
3          Arizona
4         Arkansas
5       California
6         Colorado
7      Connecticut
8         Delaware
9          Florida
10         Georgia
11          Hawaii
12           Idaho
13        Illinois
14         Indiana
15            Iowa
16          Kansas
17        Kentucky
18       Louisiana
19           Maine
20        Maryland
21   Massachusetts
22        Michigan
23       Minnesota
24     Mississippi
25        Missouri
26         Montana
27        Nebraska
28          Nevada
29   New hampshire
30      New jersey
31      New mexico
32        New york
33  North carolina
34    North dakota
35            Ohio
36        Oklahoma
37          Oregon
38    Pennsylvania
39    Rhode island
40            Sout
41  South carolina
42       Tennessee
43           Texas
44            Utah
45         Vermont
46        Virginia
47      Washington
48   Washington dc
49   West virginia
50       Wisconsin
51         Wyoming

In [364]:
data3[2200:2400]

               State        County Income  Year
2200        Oklahoma         Major  31655  2010
2201        Oklahoma      Marshall  27652  2010
2202        Oklahoma         Mayes  28145  2010
2203        Oklahoma        Murray  33403  2010
2204        Oklahoma      Muskogee  29760  2010
2205        Oklahoma         Noble  29634  2010
2206        Oklahoma        Nowata  28984  2010
2207        Oklahoma      Okfuskee  23072  2010
2208        Oklahoma      Oklahoma  41770  2010
2209        Oklahoma      Okmulgee  27189  2010
2210        Oklahoma         Osage  27869  2010
2211        Oklahoma        Ottawa  29908  2010
2212        Oklahoma        Pawnee  29049  2010
2213        Oklahoma         Payne  30561  2010
2214        Oklahoma     Pittsburg  31949  2010
2215        Oklahoma      Pontotoc  33837  2010
2216        Oklahoma  Pottawatomie  34279  2010
2217        Oklahoma    Pushmataha  26218  2010
2218        Oklahoma   Roger mills  34581  2010
2219        Oklahoma        Rogers  33755  2010
2220        Oklahoma      Seminole  27554  2010
2221        Oklahoma      Sequoyah  26524  2010
2222        Oklahoma      Stephens  36541  2010
2223        Oklahoma         Texas  33341  2010
2224        Oklahoma       Tillman  32011  2010
2225        Oklahoma         Tulsa  44184  2010
2226        Oklahoma       Wagoner  30739  2010
2227        Oklahoma    Washington  49889  2010
2228        Oklahoma       Washita  28546  2010
2229        Oklahoma         Woods  30128  2010
...              ...           ...    ...   ...
2370  South carolina     Lexington  34417  2010
2371  South carolina     Mccormick  26850  2010
2372  South carolina        Marion  24941  2010
2373  South carolina      Marlboro  21361  2010
2374  South carolina      Newberry  29882  2010
2375  South carolina        Oconee  31827  2010
2376  South carolina    Orangeburg  26770  2010
2377  South carolina       Pickens  28388  2010
2378  South carolina      Richland  35196  2010
2379  South carolina        Saluda  28851  2010
2380  South carolina   Spartanburg  31824  2010
2381  South carolina        Sumter  30212  2010
2382  South carolina         Union  25985  2010
2383  South carolina  Williamsburg  23862  2010
2384  South carolina          York  32956  2010
2385            Sout        Aurora  37410  2010
2386            Sout        Beadle  39279  2010
2387            Sout       Bennett  26450  2010
2388            Sout     Bon homme  31131  2010
2389            Sout     Brookings  35507  2010
2390            Sout         Brown  41832  2010
2391            Sout         Brule  36862  2010
2392            Sout       Buffalo  23661  2010
2393            Sout         Butte  29102  2010
2394            Sout      Campbell  36614  2010
2395            Sout   Charles mix  35878  2010
2396            Sout         Clark  35681  2010
2397            Sout          Clay  31390  2010
2398            Sout     Codington  37666  2010
2399            Sout        Corson  24088  2010

[200 rows x 4 columns]

In [360]:
#Checking Number of Counties for each State
query = """SELECT State, COUNT(County) from data3 GROUP BY County"""
ps.sqldf(query=query)

               State  COUNT(County)
0                                84
1     South carolina              7
2          Louisiana              7
3           Virginia              7
4              Idaho              7
5               Iowa             28
6                                84
7            Vermont              7
8     South carolina              7
9          Minnesota              7
10           Florida              7
11    North carolina              7
12        California              7
13          Colorado              7
14          New york             14
15                                7
16          Michigan              7
17       Mississippi              7
18                                7
19                                7
20                                7
21                                7
22          Illinois             14
23          Virginia              7
24          Oklahoma              7
25          Michigan              7
26              Iowa              7
27          Michigan              7
28          Maryland             14
29    North carolina              7
...              ...            ...
1829            Iowa             21
1830            Ohio              7
1831          Kansas              7
1832        New york             21
1833        Virginia              7
1834  North carolina              7
1835      Washington              7
1836                              7
1837     Mississippi              7
1838          Oregon              7
1839  North carolina              7
1840            Sout              7
1841        New york              7
1842         Arizona              7
1843     Mississippi              7
1844        Arkansas              7
1845       Minnesota              7
1846         Montana              7
1847           Texas              7
1848      California              7
1849           Maine             28
1850                              7
1851           Texas              7
1852      California              7
1853                              7
1854                              7
1855                             14
1856           Texas              7
1857           Texas              7
1858            Sout              7

[1859 rows x 2 columns]

# Greenhouse Gas Emissions Data

In [371]:
#--------------------READING AND PRE-PROCESSING GREENHOUSE GAS INCOME DATA--------------------
#---------------------------------------------------------------------------------------------

def get_emissions(filename, year):
    
    #Loading data, keeping only relevant columns, and adding year as a constant variable
    xls = pd.ExcelFile(filename)
    data_test = xls.parse("Direct Emitters", skiprows=3, index_col=None, na_values=[np.nan])
    data_test = data_test.loc[:, "City":"Stationary Combustion"]
    data_test["Year"] = year
    return data_test


def get_all_emissions():
    files = glob.glob("data/ghgp_*")
    
    #Combining data from all different years
    for i in range(len(files)):
        year = int(files[i].split("_")[2])
        print(year)
        print(files[i])
        
        if i == 0:
            data4 = get_emissions(files[i], year)
        else:
            upd = get_emissions(files[i], year)
            data4 = pd.concat([data4, upd])
    
    return data4

#Getting emissions data
data4 = get_all_emissions()

#Get full state name from abbreviation
data4 = pd.merge(data4, states, how="left", left_on=["State"], right_on=["Abbreviation"]).drop(["State_x", "Abbreviation"], axis=1)

#Dropping variables
data4 = data4.iloc[:, [23, 24, 3] + list(range(9, 23))]

#Renaming variables
data4.columns = ["Year", "State", "County", "Total Emissions", "CO2", "Methane",
                 "Nitrous Oxide", "HFC", "PFC", "SF6", "NF3", "Other Fluorane", 
                 "HFE", "Short Lived Compounds", "Other GHG", "Biogenic CO2", "Stationary Combustion"]

#Removing trailing blanks from county and state variables
data4["County"] = data4["County"].apply(cap)
data4["State"] = data4["State"].apply(cap)

#Grouping data into key variables and obtaining emission totals
data4 = data4.groupby(["Year", "State", "County"]).agg({"Total Emissions":[np.nansum],
                                               "CO2":[np.nansum],
                                              "Methane":[np.nansum],
                                               "Nitrous Oxide":[np.nansum],
                                               "HFC":[np.nansum],
                                               "PFC":[np.nansum],
                                               "SF6":[np.nansum],
                                               "NF3":[np.nansum],
                                               "Other Fluorane":[np.nansum],
                                               "HFE":[np.nansum],
                                               "Short Lived Compounds":[np.nansum],
                                               "Other GHG":[np.nansum],
                                               "Biogenic CO2":[np.nansum],
                                               "Stationary Combustion":[np.nansum]}).reset_index()

#Renaming after grouping
data4.columns = data4.columns.droplevel(1)

2014
data/ghgp_data_2014_8_19_2018.xlsx
2013
data/ghgp_data_2013_8_19_2018.xlsx
2012
data/ghgp_data_2012_8_19_2018.xlsx
2015
data/ghgp_data_2015_8_19_2018.xlsx
2010
data/ghgp_data_2010_8_19_2018.xlsx
2011
data/ghgp_data_2011_8_19_2018.xlsx
2016
data/ghgp_data_2016_8_19_2018.xlsx

In [372]:
data4

,Year,State,County,Total Emissions,CO2,Methane,Nitrous Oxide,HFC,PFC,SF6,NF3,Other Fluorane,HFE,Short Lived Compounds,Other GHG,Biogenic CO2,Stationary Combustion
0,2010,,Arecibo,3.021681e+05,148171.2,153638.75000,358.196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,148679.646
1,2010,,Barceloneta,1.173145e+05,116917.8,117.50000,279.226,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117314.526
2,2010,,Carolina,2.438725e+04,24301.8,25.25000,60.196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24387.246
3,2010,,Carolina municipio,6.757335e+04,0.6,67572.75000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.600
4,2010,,Ceiba,1.340728e+03,1336.2,1.25000,3.278,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1340.728
5,2010,,Fajardo,3.058360e+04,6.6,30577.00000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.600
6,2010,,Guam,1.270954e+06,1266667.0,1272.00000,3014.568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1270953.568
7,2010,,Guayama,3.291173e+06,3264320.3,9826.00000,17027.124,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3291173.424
8,2010,,Guayanilla,3.199043e+06,3188445.7,3131.50000,7465.794,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3199042.994
9,2010,,Guaynabo,6.413260e+04,150.1,63982.50000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150.350
10,2010,,Humacao,1.019004e+05,852.1,101046.24280,2.086,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,855.186
11,2010,,Juncos,2.738141e+04,27287.0,28.25000,66.156,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27381.406
12,2010,,Mayaguez,2.392656e+05,98015.0,141013.72010,236.910,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,98351.410
13,2010,,Penuelas,1.502064e+06,1499466.4,706.50000,1890.810,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1502063.710
14,2010,,Ponce,3.612016e+05,359948.5,458.00000,795.064,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,153874.464
15,2010,,Ponce municipio,1.368200e+05,0.0,136820.00000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
16,2010,,Saint croix,5.250184e+06,5216812.9,19637.25000,13734.224,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4185605.514
17,2010,,Salinas,3.695049e+06,3682838.1,3608.50000,8602.366,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3695048.966
18,2010,,Salinas municipio,6.006059e+04,0.0,60060.59435,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
19,2010,,San juan,2.551764e+06,2438528.4,108073.50000,5162.254,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2306479.654
20,2010,,St. croix island,3.753637e+05,374077.0,380.50000,906.218,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,375363.718
21,2010,,St. thomas island,7.015297e+05,699143.0,706.00000,1680.720,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,701529.720
22,2010,,Toa alta municipio,7.068500e+04,99.0,70586.00000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99.000
23,2010,,Toa baja,2.867427e+06,2858041.8,2773.50000,6611.428,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2867426.728
24,2010,,Toa baja municipio,1.874731e+05,13.6,187459.50000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.600
25,2010,,Vega baja,8.036860e+02,800.6,1.00000,2.086,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,803.686
26,2010,,Yauco municipio,1.756200e+04,0.0,17562.00000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
27,2010,Alabama,,9.880245e+04,98694.8,47.75000,59.898,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,98802.448
28,2010,Alabama,Autauga,2.982137e+06,2941944.5,14375.50000,25816.634,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1683572.3,231246.010
29,2010,Alabama,Baldwin,1.242642e+05,0.0,124264.25000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13903,2016,Wisconsin,Sheboygan,3.859547e+06,3833675.4,12358.25000,13513.108,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,104.1,98340.698
13904,2016,Wisconsin,Vernon,9.661734e+05,958606.3,2767.50000,4799.588,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,815.936
13905,2016,Wisconsin,Walworth,8.969839e+04,34827.2,54809.50000,61.686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34927.886
13906,2016,Wisconsin,Washburn,1.120630e+04,20.8,11185.50000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.800
13907,2016,Wisconsin,Washington,1.511396e+04,15082.9,10.50000,20.562,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
13908,2016,Wisconsin,Waukesha,1.342699e+05,11401.6,122556.00000,312.304,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,83442.9,11848.904
13909,2016,Wisconsin,Waupaca,2.930739e+05,291338.1,638.00000,1097.832,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,293073.932
13910,2016,Wisconsin,Winnebago,5.353332e+05,471334.8,63538.25000,460.112,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8766.6,307242.174
13911,2016,Wisconsin,Wood,1.074280e+06,887786.2,179155.00000,7338.548,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1446842.6,825314.438
13912,2016,Wyoming,,5.095318e+04,45416.1,5511.75000,25.330,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,44606.532
13913,2016,Wyoming,Albany,6.093049e+05,600268.1,7669.00000,1367.820,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.1,44280.440
13914,2016,Wyoming,Big horn,1.054281e+05,105092.3,129.00000,206.812,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,101344.312
13915,2016,Wyoming,Campbell,8.903578e+06,8809032.8,51693.50000,42851.506,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,422.2,146383.418
13916,2016,Wyoming,Carbon,1.703176e+06,1680390.7,20524.25000,2260.926,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,906761.684
13917,2016,Wyoming,Contra costa,1.294401e+05,128013.6,1381.75000,44.700,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70509.784
13918,2016,Wyoming,Converse,6.150122e+06,6094515.5,27742.50000,27864.192,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,193755.220
13919,2016,Wyoming,Fremont,8.707596e+05,866312.6,4355.50000,91.486,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,160341.812
13920,2016,Wyoming,Goshen,6.116190e+04,51776.8,9333.25000,51.852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,43592.302
13921,2016,Wyoming,Johnson,2.167077e+05,216484.1,102.00000,121.584,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,216707.684
13922,2016,Wyoming,Laramie,1.396785e+06,1261527.1,74222.50000,61035.168,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,652142.102
13923,2016,Wyoming,Lincoln,8.233823e+06,8168298.0,38677.75000,26847.118,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016541.268
13924,2016,Wyoming,Natrona,2.778313e+05,203259.1,73863.25000,708.942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,131603.822
13925,2016,Wyoming,Park,2.488412e+05,248326.5,196.75000,317.966,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,134885.266
13926,2016,Wyoming,Platte,1.153487e+07,11444554.2,33033.50000,57284.540,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
13927,2016,Wyoming,Sheridan,0.000000e+00,0.0,0.00000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
13928,2016,Wyoming,Sublette,3.977000e+02,347.2,50.50000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.700
13929,2016,Wyoming,Sweetwater,1.688514e+07,16726633.9,88823.75000,69678.956,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3992501.796
13930,2016,Wyoming,Uinta,2.440409e+05,187237.9,56599.75000,203.236,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,180349.976
13931,2016,Wyoming,Washakie,2.620334e+04,26164.1,16.00000,23.244,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21357.344
13932,2016,Wyoming,Weston,1.865241e+05,184747.2,1294.75000,482.164,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,128674.910

In [ ]:
#Checking Number of records for each combination of key variables
query="""SELECT DISTINCT Count FROM (SELECT Year, State, County, COUNT(*) AS Count FROM data4 GROUP BY Year, State, County)"""
ps.sqldf(query=query)

In [ ]:
#Checking Number of Counties for each State
query = """SELECT State, COUNT(County) from data4 GROUP BY County"""
ps.sqldf(query=query)

In [ ]:
#Checking that variable values are not repeating
query="""SELECT * FROM data4 WHERE State='Louisiana' AND County = 'Ascension'"""
ps.sqldf(query=query)

In [ ]:
#Obtaining map from State Code/County Code to County Name:
xls = pd.ExcelFile("data/all-geocodes-v2016.xlsx")
data_geo = xls.parse("Sheet1", skiprows=4, index_col=None, na_values=[np.nan])

statecd = data_geo[(data_geo["County Code (FIPS)"] == 0)*(data_geo["Place Code (FIPS)"] == 0)*(data_geo["Consolidtated City Code (FIPS)"] == 0)].reset_index(drop=True)

statecd = statecd[["State Code (FIPS)", "Area Name (including legal/statistical area description)"]]

countycd = data_geo[data_geo["County Code (FIPS)"] != 0][["State Code (FIPS)", "County Code (FIPS)", "Area Name (including legal/statistical area description)"]]

data_geo = pd.merge(countycd, statecd, how="inner", on="State Code (FIPS)")

In [ ]:
data_geo

# Daily AQIs and Weather Data

In [428]:
#--------------------READING AND PRE-PROCESSING DAILY AQS AND WEATHER DATA-------------------
#--------------------------------------------------------------------------------------------

data = pd.read_csv("data/daily_aqi_by_county_2014.csv")

for i in range(2015, 2019):
    data = pd.concat([data, pd.read_csv("data/daily_aqi_by_county_" + str(i) + ".zip")])    

#_______________________________________________________
#Loading in daily Air Pressure data for years 2014 - 2018

data_ap = pd.read_csv("data/daily_PRESS_2014.csv")

for i in range(2015, 2019):
    data_ap = pd.concat([data_ap, pd.read_csv("data/daily_PRESS_" + str(i) + ".zip")])
    
data_ap = data_ap[["State Code", "County Code", "Date Local", "Arithmetic Mean"]]
data_ap.rename(columns={"Arithmetic Mean":"Average Air Pressure"}, inplace=True)

#Taking air pressure averages across sensor locations
data_ap = data_ap.groupby(["State Code", "County Code", "Date Local"])["Average Air Pressure"].mean().reset_index()

#_______________________________________________________
#Loading in daily Temperature data for years 2014 - 2018

data_t = pd.read_csv("data/daily_TEMP_2014.csv")

for i in range(2015, 2019):
    data_t = pd.concat([data_t, pd.read_csv("data/daily_TEMP_" + str(i) + ".zip")])
    
data_t = data_t[["State Name", "County Name", "Date Local", "Arithmetic Mean"]]
data_t.rename(columns={"Arithmetic Mean":"Average Temperature"}, inplace=True)

#Taking temperature averages across distinct sensor locations
data_t = data_t.groupby(["State Name", "County Name", "Date Local"])["Average Temperature"].mean().reset_index()


#_______________________________________________________________
#Loading in daily humidity/dew point data for years 2014 - 2018

data_h = pd.read_csv("data/daily_RH_DP_2014.csv")

for i in range(2015, 2019):
    data_h = pd.concat([data_h, pd.read_csv("data/daily_RH_DP_" + str(i) + ".zip")])

data_h = data_h[["State Code", "County Code", "Date Local", "Arithmetic Mean"]]
data_h.rename(columns={"Arithmetic Mean":"Average Humidity"}, inplace=True)

#Taking humidity averages across distinct sensor locations
data_h = data_h.groupby(["State Code", "County Code", "Date Local"])["Average Humidity"].mean().reset_index()

    
#_______________________________________________________________
#Loading in daily windspeed point data for years 2014 - 2018
data_w = pd.read_csv("data/daily_WIND_2014.csv")

for i in range(2015, 2019):
    data_w = pd.concat([data_w, pd.read_csv("data/daily_WIND_" + str(i) + ".zip")])
    
data_w = data_w[["State Code", "County Code", "Date Local", "Arithmetic Mean"]]
data_w.rename(columns={"Arithmetic Mean":"Average Windspeed"}, inplace=True)

#Taking Windspeed averages across distinct sensor locations
data_w = data_w.groupby(["State Code", "County Code", "Date Local"])["Average Windspeed"].mean().reset_index()

In [429]:
data.rename({'State Name':'State', 'county Name': 'County'}, axis=1, inplace=True)
data['State'] = data['State'].str.lower()
data['County'] = data['County'].str.lower()
data['Date'] = pd.to_datetime(data['Date'])
data['Year'] = pd.DatetimeIndex(data['Date']).year
data['Month'] = pd.DatetimeIndex(data['Date']).month
data['Day'] = pd.DatetimeIndex(data['Date']).day
data.head()

,State,County,State Code,County Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting,Year,Month,Day
0,alabama,baldwin,1,3,2014-01-02,33,Good,PM2.5,01-003-0010,1,2014,1,2
1,alabama,baldwin,1,3,2014-01-05,29,Good,PM2.5,01-003-0010,1,2014,1,5
2,alabama,baldwin,1,3,2014-01-08,29,Good,PM2.5,01-003-0010,1,2014,1,8
3,alabama,baldwin,1,3,2014-01-11,15,Good,PM2.5,01-003-0010,1,2014,1,11
4,alabama,baldwin,1,3,2014-01-14,22,Good,PM2.5,01-003-0010,1,2014,1,14

In [439]:
data_t.rename({'State Name':'State', 'County Name': 'County'}, axis=1, inplace=True)
data_t['State'] = data_t['State'].str.lower()
data_t['County'] = data_t['County'].str.lower()
data_t['Date Local'] = pd.to_datetime(data_t['Date Local'])
data_t['Year'] = pd.DatetimeIndex(data_t['Date Local']).year
data_t['Month'] = pd.DatetimeIndex(data_t['Date Local']).month
data_t['Day'] = pd.DatetimeIndex(data_t['Date Local']).day
data_t.head()

data_t = data_t.groupby(['State', 'County','Year','Month'])['Average Temperature'].mean().reset_index()
data_t.head()
#data_w = data_w.groupby(["State Code", "County Code", "Date Local"])["Average Windspeed"].mean().reset_index()

     State     County  Year  Month  Average Temperature
0  alabama  jefferson  2014      1            37.601300
1  alabama  jefferson  2014      2            46.520285
2  alabama  jefferson  2014      3            53.247984
3  alabama  jefferson  2014      4            63.699870
4  alabama  jefferson  2014      5            72.347177

In [440]:
data_t.to_csv("./cleaned_data/temps.csv", index=None, header=True)

In [422]:
query = """ SELECT State, County, MAX(AQI) as max_aqi, MIN(AQI) as min_aqi, AVG(AQI) as avg_aqi, Year, Month
            FROM data
            GROUP BY State, County, Year, Month
"""
data_agg = ps.sqldf(query=query)

In [424]:
data_agg.head()
print(len(data_agg))

49500

In [425]:
data_agg.to_csv("./cleaned_data/aqi.csv", index=None, header=True)

In [391]:
data.to_csv("./cleaned_data/aqi.csv", index=None, header=True)

In [ ]:
#Checking Number of Counties for each State
query = """SELECT 'State Code', COUNT('County Code') from data_t GROUP BY 'State Code'"""
ps.sqldf(query=query)

In [ ]:
#Merging AQI data with daily weather data
data = pd.merge(data, data_t, how="left", left_on=["State Code", "County Code", "Date"], right_on=["State Code", "County Code", "Date Local"])
data = pd.merge(data, data_ap, how="left", left_on=["State Code", "County Code", "Date"], right_on=["State Code", "County Code", "Date Local"])
data = pd.merge(data, data_h, how="left", left_on=["State Code", "County Code", "Date"], right_on=["State Code", "County Code", "Date Local"])
data = pd.merge(data, data_w, how="left", left_on=["State Code", "County Code", "Date"], right_on=["State Code", "County Code", "Date Local"])

#Extracting year and month from date
data["Year"] = data["Date"].apply(lambda x: parser.parse(x).year)
data["Month"] = data["Date"].apply(lambda x: parser.parse(x).month)

#Renaming Columns
data.rename(columns = {"State Name":"State", "county Name":"County"}, inplace=True)

#Removing trailing blanks from county and state variables
data["State"] = data["State"].apply(str.strip)
data["County"] = data["County"].apply(str.strip)

In [ ]:
def get_weather(state_abbrev, county, year, month, day):
    date1 = str(year) + str(month).zfill(2) + str(day).zfill(2)
    date2 = str(year) + str(month).zfill(2) + str(day).zfill(2)
    url = "http://api.mesowest.net/v2/stations/statistics?state=" + state_abbrev + "&county=" + county + "&start=" + date1 + "0000&end=" + date2 + "0000&vars=air_temp&obtimezone=local&token=demotoken&type=average"
    response = requests.get(url)
    return json.loads(response.content.decode("latin1"))

In [ ]:
get_weather("NC", "wake", 2013, 1, 1)

# Data Checks

In [ ]:
#====================DATA CHECKS====================
#===================================================

def check_unique_keys(data_str, *argv):
    """Checking Number of records for each combination of key variables
    There should be only one record per combination, so if there are other 
    numbers these will have to be looked into"""
    
    #Combining all the variables into query argument
    varlist = ""
    for arg in argv:
        varlist += (arg + ", ")
    
    #Removing trailing comma from variable list
    varlist = varlist[:-2]
    
    #Forming full query
    query="SELECT DISTINCT Count FROM (SELECT " + varlist + ", COUNT(*) AS Count FROM " + data_str + " GROUP BY " + varlist + ")"
    print(query)
    
    #Executing query
    return(ps.sqldf(query=query))

def check_unique_county_map(data_str):
    """Checking uniqueness of mapping from statenum/countynum to state and county"""
    
    #Forming Full query
    query = "SELECT DISTINCT Count FROM (SELECT StateNum, CountyNum, COUNT(*) AS COUNT FROM (SELECT DISTINCT StateNum, CountyNum, State, County FROM " + data_str + ") GROUP BY StateNum, CountyNum)"
    
    #Executing query
    return(ps.sqldf(query=query))

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot(data["Average Windspeed"],data["AQI"]);plt.show()

In [ ]:
data